@font-face {
    font-family: Pokemon;
    src: url(PokemonSolid.ttf);
}

.navbar-inverse {
    background-color: salmon;
    border-color: salmon;
}

.navbar-inverse .navbar-brand {
    font-family: 'Pokemon';
    color: white;
}